/* 在nuxt.config.ts 引入 */
.el-input {
    /* input輸入框背景顏色 */
    --el-input-bg-color: #1D232A !important;
}

.el-input-tag {
    /* input-tag輸入框背景顏色 */
    /* --el-input-bg-color: #1D232A !important; */
    --el-fill-color-blank: #1D232A !important;
    /* tag在輸入時且還沒按Enter以前的顏色 */
    --el-input-tag-text-color: white !important;
}

.el-input-tag__inner.is-left-space {
    /* 20260218 讓筆記列表的tag的placeholder 樣式統一 */
    margin-left: 0px!important;
}

.el-input__wrapper {
    --el-input-bg-color: #1D232A !important;
    /* 本來1px 11px 為了讓裝潢小工具佈局更緊湊 */
    padding: 1px 8px !important;
}

.el-date-editor .el-range-separator {
    --el-text-color-primary: #A2A5AC !important;
}

.el-input__inner{
    --el-input-text-color: white
}

/* 深色模式的message-box目前只有chat.vue會用到 */
.el-message-box{
    background-color: #1D232A !important;
    border: 0.1px solid #FAD803 !important;
    --el-messagebox-title-color: white !important;
    --el-messagebox-content-color: white !important;
}
