@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
}

.aaa {
  border: 1px solid black;
}

.bbb {
  border: 1px solid white;
}

/* 預設背景色 #1D232A */
/* DeepL底色 primary #0F2B47 */